<% flash.each do |name, msg| -%>
    <%= content_tag :h3, msg, class: :get %>
<% end %>

<table class="table" style="margin-top: 10%;">

  <thead>
    <th>N</th>
    <th>Transaction balance</th>
    <th>Date of transaction</th>
  </thead>

  <tbody>
  <% @transactions.each_with_index do |transaction, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td class="<% if transaction[:take] %>take<% else %>give<% end %>">
          <%= transaction[:balance] %>
        </td>
        <td><%= transaction[:created_at] %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @transactions %>

<h3 class="give">Totally given: <%= @given %></h3>
<h3 class="take">Totally taken: <%= @taken %></h3>

<h1 class="<% if (balance = @given - @taken) >= 0 %>give<% else %>take<% end %>">
  Your balance: <%= balance %>
</h1>

<% if balance < 0 %>
    <%= link_to 'Return money', give_path(current_user.id), class: 'btn btn-default' %>
<% end %>
