
<h1>Edit profile</h1>

<div class="center hero-unit">

  <%= form_for(@user, url: {action: "save_profile"}) do |f| %>
      <table class="table">
        <tbody>
        <th>New name</th>
        <th>New password</th>
        <th>Image</th>
        <tr>
          <td><%= f.text_field :name, :value => current_user.name %></td>
          <td><%= f.password_field :password, :value => current_user.password %></td>
          <td><%= f.file_field :avatar, class: 'btn btn-default' %></td>
        </tr>
        </tbody>
      </table>
      <%= f.submit 'Save', class: 'btn btn-default' %>
  <% end %>
</div>