

<h1>Invite</h1>

<div class="center hero-unit">
  <%= form_for(@user, url: {action: "create_invite"}) do |f| %>
      <p> User Email: <%= f.text_field :email %> </p>
      <%= f.submit :Invite %>
  <% end %>
</div>
