<table class="table" style="margin-top: 10%;">

  <thead>
    <th>N</th>
    <th>Avatar</th>
    <th>Name</th>
    <th>Email</th>
    <th>Confirmed</th>
    <th>Date</th>
  </thead>

  <tbody>
  <% @users.each_with_index do |user, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td>
          <% if user.avatar? %>
              <%= image_tag(user.avatar.url(:thumb) , class: 'avatar thumb') %>
          <% else %>
              <%= image_tag('default_avatar.png', class: 'avatar thumb') %>
          <% end %>
        </td>
        <td><%= user[:name] %></td>
        <td><%= user[:email] %></td>
        <td class="<% if token = user[:confirmation_token].length > 0 %>give<% else %>take<% end %>">
          <% if token %>
            true
          <% else %>
           false
          <% end %>
        </td>
        <td><%= user[:created_at] %></td>
      </tr>
  <% end %>
  </tbody>
</table>