
<h1>My profile</h1>

<% if @user.errors.any? %>
    <% @user.errors.each do |attribute, message| %>
        <div class="error">
          <%= message %>
        </div>
     <% end %>
<% end %>

<% if @user.avatar? %>
    <%= image_tag(@user.avatar.url(:medium) , class: 'avatar') %>
<% else %>
    <%= image_tag('default_avatar.png', class: 'avatar') %>
<% end %>

<p class="desc">Profile image</p>

<table class="table" style="margin-top: 10%;">
  <tbody>
  <th>Name</th>
  <th>Email</th>
  <th>Signed in times</th>
  <th>Date of registration</th>
  <tr>
    <td><%= @user[:name] %></td>
    <td><%= @user[:email] %></td>
    <td><%= @user[:sign_in_count] %></td>
    <td><%= @user[:created_at] %></td>
  </tr>
  </tbody>
</table>

<%= link_to 'Edit Profile', edit_path(current_user.id), class: 'btn btn-default' %>

<h1>Transactions</h1>

<%= render 'users/transactions' %>