
.container .take,
.nav .take {
    color: red !important;
}

.container .give,
.nav .give {
    color: green !important;
}

.container tr,
.container th {
    text-align: center;
}

.container img {
    display: block;
    margin: 0 auto;
}

.container .avatar {
    display: block;
    margin: 0;
    padding: 30px 20px;
    border: 1px solid rgba(0, 0, 0, 0.23);
}

.container .avatar.thumb {
    width: 140px;
    height: 180px;
    margin: 0 auto;
}

.container .desc {
    color: rgba(0, 0, 0, 0.24);
}
