<div class="panel-footer">
  <% if current_user.nil? %>
      <%= link_to 'Sign in', new_user_session_path %>
  <% else %>
      <%= link_to 'My Profile', users_path(current_user.id) %>
      <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
  <% end %>

  <% if current_user && current_user.admin? %>
      <%= link_to 'Invite user', users_invite_path %>
  <% end %>
</div>
