<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <% link_to 'Shared Bank', root_path, class: 'navbar-brand' %>
  </div>
  <div>
    <ul class="nav navbar-nav">
      <li>
        <%= link_to 'Shared Bank', root_path, class: 'navbar-brand' %>
      </li>
      <% if current_user.nil? %>
          <li>
            <%= link_to 'Sign in',  new_user_session_path %>
          </li>
      <% else %>
          <li>
            <%= link_to 'Give money', give_path(current_user.id), class: 'give' %>
          </li>
          <li>
            <%= link_to 'Take money', take_path(current_user.id), class: 'take' %>
          </li>
          <li>
            <%= link_to 'My Profile', users_path(current_user.id) %>
          </li>
          <li>
            <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
          </li>
      <% end %>
      <% if current_user && current_user.admin? %>
          <li>
            <%= link_to 'Invite user', users_invite_path %>
          </li>
          <li>
            <%= link_to 'Users list', users_list_path %>
          </li>
      <% end %>
    </ul>
  </div>
</nav>