<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p>Your username: <%= @user.name %></p>
<p>Your password: <%= @user.password %></p>

<p>You can change all credential later</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
